<section class="widget twitter">
    <div class="widget-icon">
        {{ partial "helper/icon" "brand-twitter" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.twitter.title" }}</h2>
    <div id="twitter-tl">
        <div class="twitter-tl-dark">
          <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/ricora_alg">Tweets by ricora_alg</a>
        </div>
        <div class="twitter-tl-light">
          <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/ricora_alg">Tweets by ricora_alg</a>
        </div>
    </div>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</section>
